body{
    width: 100%;
    line-height: normal;
    background-color: #fffaf5;
}

.navbar {
    background-color: rgb(255, 250, 245) !important;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    border-bottom: 1px solid #f5f5f5;
    position: fixed;
    background: rgba(255, 255, 255, 0.2);
    z-index: 9999;
  }
  .navbar ul{
    margin-right: 300px;
  }
  .logo_div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Monterras;
    width: 17%;
    cursor: pointer;
  }
  
  .logo_div img {
    width: 55px;
    height: 55px;
  }
  
  .logo_title {
    width: 100%;
  }
  
  .logo_title h1 {
    color: #720418;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 3px;
  }
  
  .logo_title hr {
    border: 1px solid rgba(0, 0, 0, 0.59);
    margin: 0px;
    width: 100%;
  }
  
  .logo_title p {
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 400;
    margin: 0px;
    margin-left: 3px;
  }
  
  .list_div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-item {
    display: flex;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    gap: 21px;
    padding: 0px;
  }
  
  
  .nav-item a {
    font-family: Montserrat !important;
    color: #241400;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 196.187%;
  }
  
  .nav-item a:hover {
    transition: all 0.3s;
  }
  
  .join_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding-bottom: 14px;
    cursor: pointer;
  
  }
  
  .join_div button {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
  }
  
  
  .join_div button:hover {
    transition: all 0.3s;
  }
  
  #search {
    color: #E16A00;
    text-decoration: underline !important;
    font-weight: 700 !important;
  
  }
  
  #search:hover {
    color: #121416;
    text-decoration: none !important;
  
  
  }
  
  .nav-link:hover {
    color: #121416;
  }
  
  #ab:hover {
    color: #121416 !important;
  }
  
  #joinUsBtn {
    margin-top: 11px;
  
  }
  
  #navbarNavDropdown {
    flex-grow: 0 !important;
  }
  
  .container-fluid {
    width: 80%;
    justify-content: space-around;
  }
  
  .navbar-toggler {
    margin-left: 50px;
  }
  
  @media only screen and (max-width: 900px) {
    .navbar ul{
      margin-right: 0px;
    }
  
  }
  
  .searchContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 60px;
    flex-direction: row;
  }
  
  .searchBookContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .searchLeft {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .searchTitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 71px;
    text-align: left;
    color: black;
  }
  
  .searchInput {
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid #CECECE;
    height: 69.52px

  }
  
  .searchButton {
    width: 100%;
    height: 65px;
    background-color: #E16A00;
    padding: 15px 30px;
    color: white;
    font-size: 26px;
    font-weight: 400;
    border-radius: 5px;
    border: 1px solid #CECECE;
    text-align: center;
  }
  .searchInput:focus{
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
    border-color: rgb(56, 56, 251) !important;
    outline: none;
  }
  .searchRight {
    width: 60%;
    display: flex;
    margin-left: 100px;
    /* background-color: #CECECE; */
    height: 404px;
    
    /* margin-top: 85px; */
  }
  .spinner{
    width: 60%;
    display: none;
    margin-left: 100px;
  }
 .custom-container{
    padding-top: 150px;
    display: flex;
    flex-direction: row;
    padding-left: 170px;
    /* padding-top: 8%; */
    
 }
 .carousel_inner{
    margin: 0 auto;
    width: 85%;
    height: 500px;
    background-color: #fff;
    padding-left: 30px;
 }
 .shadow{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4)
 }
 .carousel-inner div img{
    width: 200px !important;
    height: 300px;
    border-radius: 100%;
    margin-top: 100px;
    /* margin-left: 100px; */
 }
 .carousel-item.active{
    display: flex !important;
    gap: 32px;
    /* max-height: 50%; */
 }
 .divMain{
    width: 90%;
    margin: 0 auto;
    /* display: flex; */
    /* flex-direction: row !important; */
 }
 .divMain p{
    font-size: 20px;
 }
.divInfo{
    max-height: 500px;
    flex-direction: column;
 }
 .carousel-item div h3{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    margin-top: 100px;
    margin-bottom: 7px;
 }
.carousel-control-next,.carousel-control-prev{
    display: none;
    height: 50%;
    margin-top: 17%;
    cursor: auto !important;
    /* padding-top: 0px; */
 }
 .carousel-control-next{
    position: absolute;
    right: -20px;
    top: 0;
 }
 .carousel-control-prev{
    position: absolute;
    left: -21px;
 }
 .divImg{
    background-color: red;
    color: #FFF;
    display: flex;
    justify-content: center;
    height: 30px;
    padding: 5px;
    padding-top: 2px;
    width: 50px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 60px;
 }
 .carousel-control-icon img{
    width: 25px;
    cursor: pointer;
  }

  .section4{
    display: none;
    position: absolute;
    right: 10%;
    top: 200px;
    width: 40%;
    background-color: rgb(240, 66, 66);
  }
  .section4 p{
    padding-top: 10px;
    padding-left: 30px;
    font-size: 30px;
    font-family: Montserrat;
    color: rgb(60, 54, 54);
  }




  @media only screen and (max-width: 800px) {
    .custom-container{
        padding-left: 0px;
    }
    .searchContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .searchTitle {
      text-align: center;
    }
  
    
    .searchInput, .searchButton {
        width: 92% !important;
      }
      .searchRight{
        margin-left: 0px;
        width: 95%;
    }
    .searchLeft {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
      }
      .searchRight{
        margin-top: 80px;
        display: flex;
      }
      .carousel-inner div img{
        width: 100px;
        height: 150px;
      }
      .carousel-control-next{
        top: 80px;
     }
     .carousel-control-prev{
        top: 80px;
     }
     .divInfo{
        /* max-height: 530px; */

     }
     .section4{
      width: 80%;
      top: 500px;
     }
  }
  

/* main section5  */
@keyframes slideInFromTop {
    from {
      top: -100px;
    }
    to {
      top: 100px; 
    }
  }
  .section5{
    display: none;
    top: 100px;
    position: fixed;
    width: 50%;
    z-index: 999999999;
    animation: slideInFromTop 0.75s ease forwards;
    margin: 0 25%;
  }
  
  .divJoin{
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .divJoin form{
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 25px;
  }
  .divJoin h2{
    padding-top: 50px;
    margin: 0 auto;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 35px;
  }
  .divJoin input{
    padding-left: 55px;
    border: 1px solid rgb(206,206,206);
    margin: 0 auto;
    height: 50px;
    width: 90%;
    font-weight: 400;
    font-size: 19px;
    font-family: Montserrat;
  }
  .divJoin input:focus{
    border-color: none;
      outline: none;
  }
  .divJoin div{
    display: flex;
  }
  .divJoin div p{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225, 106, 0);
    width: 25px;
    height: 25px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: 10px;
  }
  #btnJoin{
    width: 90%;
    margin: 50px auto;
    background-color: rgb(225, 106, 0);
    border-radius: 5px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 19px;
    padding: 15px auto;
    border: none;
    height: 50px;
    color: #FFF;
    transition: top 0.5s ease;
  }
  .ext{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 88888888;
  }

 /* footer hissesi*/
 .footer {
  display: flex;
  flex-direction: column;
}

/* footer top */

.footer_section1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 133px;
  margin-top: 300px;
}

.footer_section1 p {
  color:#241400;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
}
.footer_div{
  margin-top: 30px;
}
.footer_div img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
}
.footer_div img{
  margin-left: 54px;
  width: 80px;
  height: 80px;
}

#facebook{
  margin-left: 0px;
}
/* footer low */

.footer_section2 {
  background: #391F00;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 56px 160px 50px;
  color: #fff;
}

.footer_logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 30%;
}
.footer_logo_div img{
  width: 68px;
  height: 68px;
  
}

.footer_logo_title {
  width: 100%;
}

.footer_logo_div h5 {
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 4px;
}

.footer_logo_div hr {
  margin: 0px;
  width: 202px
}

.footer_logo_div h6 {
  font-family: Montserrat;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
  margin-left: 3px;
}

.footer_container {
  width: 60%;
  display: flex;
  align-items: start;
  gap: 20px;
  margin-left: 65px;
}

.footer_popular,
.footer_cash,
.footer_help {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat;
}

.footer_title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}

.footer_popular,
.footer_cash,
.footer_help li {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 196.187%;
}

.footer_popular li:hover {
  color: #cecece;
  cursor: pointer;
  transition: all 0.3s;
}

.footer_help li:hover {
  color: #cecece;
  cursor: pointer;
  transition: all 0.3s;
}

.footer_cash li:hover {
  color: #cecece;
  cursor: pointer;
  transition: all 0.3s;
}

.footer_contact_div {
  margin: auto 0px;
}

.footer_contact_div p {
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%;
  margin: auto;
}


.copywriter_text {
  color: #fff;
  padding: 10px;
  background: #391F00;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  line-height: 196.187%;
  padding-bottom: 18px;
}

.footer-responsive a {
  width: auto;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  margin-top: 20px;
  color: white;
  row-gap: 10px;
}

.footer-responsive{
  display: none;


}


.responsive-footerend hr {
  width: 70%;
  color: white;
  font-size: 20px;
  margin-left: 20%;
}
.responsive-footerend {
  text-align: center;
  display: none;
  font-size: 15px
}
@media only screen and (max-width: 768px) {
  .footer_section2 {
    padding: 50px;
    flex-wrap: wrap;
  }
  .maindiv3 p {
    line-height: 2.5px;
  }
  .copywriter_text {
    text-align: center;
  }
  .responsive-footerend {
    display: block;
  }
  .writefooter {
    display: none;
  }

  .footer_logo_div{
    align-items: center;
    padding-left: 30%;
    padding-right: 20%;
      }
  .footer_logo_title h6 {
    display: block;
    width: 100PX;
  }
  .footer-responsive {
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
  }
  .footer_container{
    display: none;
  }
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(126, 3, 3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 17, 1); 
}
@keyframes slideInFromRight {
  from {
    right: -25%;
  }
  to {
    right: 0; 
  }
}
@keyframes slideInFromLeft {
  from {
    right: 0;
  }
  to {
    right: -25%; 
  }
}
.section4Join{
  position: fixed;
   /* position: absolute; */
   top: 0;
   /* bottom: 0; */
   font-size: 40px;
   right: 0;
   width: 25%;
   background-color: rgb(17, 153, 17);
   display: none;
   justify-content: center;
   z-index: 999999999999999999999;
}
.rightAnimation{
   animation: slideInFromRight 0.75s ease forwards;
}
.leftAnimation{
   animation: slideInFromLeft 0.75s ease forwards;
}